---
import Badge from '../components/Badge.astro'
import Socials from '../components/Socials.astro'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import MailIcon from '../components/icons/Mail.astro'
import Project from '../components/Projects.astro'
import CodeIcon from '../components/icons/CodeIcon.astro'
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
---

<Layout 
	title="Felipe's Portfolio - Junior Developer working on proyects"
	description="Available to work">
	<main>
		<section class="w-full lg:mx-28 lg:w-[990px] mb-80 lg:px-4">
			<img 
				class="rounded-full w-28 h-28 mb-4 ml-2 mt-20" 
				src="https://shorturl.at/knCYZ"
				alt="profile photo"
			>
			<h1 
				class="text-white 
					text-6xl 
					font-bold 
					flex justify-left 
					flex-row my-2
					px-auto
					mx-auto"
				>
				Hey! I'm Felipe Araneda 
				<div class="flex justify-center 
					items-center
					mx-auto
					px-auto"
					>
					<a href="https://linkedin.com/in/felipearanedaz" 
						target="_blank" 
						rel="noopener"
						class="flex justify-center items-center"
					>
						<Badge>Available for working</Badge>
					</a>
				</div>
			</h1>
			<h2 class="text-xl text-wrap px-2">
				<span class="opacity-80">Just entering the working world and </span><span class="text-cyan-400">learning by developing interesting projects</span>.
				<span class="text-teal-400">I am a FullStack developer</span> <span class="opacity-80">who loves learning about everything. I'm located in Santiago, Chile.</span>
			</h2>
			<nav class="flex flex-wrap gap-0">
				<Socials href="https://github.com/felipearaneda">
					<GitHubIcon class="size-7" />
					GitHub
				</Socials>
				<Socials href="https://linkedin.com/in/felipearanedaz">
					<LinkedInIcon class="size-7" />
					LinkedIn
				</Socials>
				<Socials href="mailto:dev-felipe@proton.me">
					<MailIcon class="size-7" />
					dev-felipe@proton.me
				</Socials>
			</nav>
		</section>
		
		<section class="flex flex-col lg:mx-16 lg:px-8">
			<h2 class="text-3xl font-semibold mb-10 lg:ml-64 flex lg:gap-x-4 items-center px-1 " id="projects ">
				<CodeIcon class="size-8 "/>
				Projects
			</h2>
			<Project />
		</section>
	</main>
</Layout>
