---
import '@fontsource-variable/bodoni-moda';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

//Props de astro para el title y description del index

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<!-- Estilo global de la webpage -->
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Bodoni Moda Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		background-color: #151618;
		background-image: linear-gradient(180deg, #151618 10%, #263f6a 100%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
		margin: 0 auto;

	}
	#imageProject {
		background-color: #121e1b;
		background-image: linear-gradient(220deg, #181f27 30%, #263f6a 100%);
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

</style>
